@font-face {
    font-family: MetalMania;
    src: url('../fonts/MetalMania-Regular.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.ttf');
}