/* Color Palette */
$cp-black: #211B25;
$cp-green: #00FFB3;
$cp-pink: #EC37E6;
$cp-light_purple: #7A0FC1;
$cp-dark_purple: #4C0789;
$cp-white: #f9f9f9;
/* End Color Palette */

@font-face {
    font-family: MetalMania;
    src: url('../fonts/MetalMania-Regular.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.ttf');
}